<!-- templates/homepage.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.category_set.count == 0 %}
<div class="has-text-centered margin-top-20-percent ">
  Hi {{ user.first_name }}  {{ user.last_name }}!
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
      <button type="submit" style="display: inline;">Submit</button>
    </form>
{% else %}
  <h1 class='title'>Welcome back {{ user.username }}!</h2>
  {% if not group %}
    <h2 class='subtitle'>Here are some matches we've found for you</h2>
    {% for match, tcs in matches.items %}
      <p>{{ match.first_name }}: {{ tcs }} focal closures</p>
    {% endfor %}
  {% else %}
    {% if pairs %}
      <h2 class='subtitle'>Here's all the pairings in {{ group.name }}!</h2>
      {% for pair in pairs %}
        <p>{{ pair.user1 }} : {{ pair.user2 }}</p>
      {% endfor %}
    {% else %}
      <h2 class='subtitle'>Here's everyone in {{ group.name }}</h2>
      {% for member in group.users.all %}
        <p>{{ member }}</p>
      {% endfor %}
      {% if group.owner == user %}
        <h2 class='is-size-4'>You're the admin! Click the button to match!</h2>
        <a href="{% url 'match' %}"><button>Match</button></a>
      {% else %}
        <h2 class='subtitle'>We're just waiting on admin to match everyone now!</h2>
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}

<a href="{% url 'logout' %}"><button style="display: inline;">Logout</button></a>
</div> 
{% endblock %}